@import url(https://fonts.googleapis.com/css?family=Kanit:200|Open+Sans|Trirong);
body {
    font-family: 'Trirong', serif !important;
}
.logo_text {
    font-family: 'Open Sans', sans-serif !important;
    font-weight:300;
}
.footer_text {
    font-family: 'Kanit', sans-serif !important;

}
.set_newfont {
    font-family: 'Trirong', serif !important;
}