@import url(https://fonts.googleapis.com/css?family=Kanit:200|Open+Sans|Trirong|Prompt);
body {
    font-family: 'Trirong', serif !important;
}

.logo_text {
    font-family: 'Prompt', sans-serif !important;
    font-weight:bold;
    font-size: 36px;
    color: #00aa00;
}
.footer_text {
    font-family: 'Trirong', sans-serif !important;
}


.nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #e30e68 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Kanit',sans-serif !important;
}