label {
    color: #161E21;
}

label span {
    color: red;
    font-size: 12px;
}

.dvapp {
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border: 2px solid #e0e0e0;
    height: 145px;
    background-color: #F3F3F3;
    padding: 3px 3px;
    margin-bottom: 30px;
}

.app-color {
    height: 100px;
    padding: 15px 15px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-size: 1.5em;
}

.app-name {
    margin-top: 8px;
    text-align: center;
    vertical-align: middle;
    color: #2d2d2d;
    font-size: 1em;
    font-weight: bold;
}