.boxcd {
    width: 150px;
    height: 50px;
    padding: 0.5em;
}

#audio-preview {
    background: #ffffff;
    width: auto;
    padding: 20px;
    display: inline-block;
}
#audio-upload {
    cursor: pointer;
    background-color: #bdc3c7;
    color: #ecf0f1;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

body{
    background-color:#add8e6;

}
#img_contain{
    border:1px solid rgba(41, 128, 27, 0.23);
    margin-top:10px;
    width:520px;

}

#imgInp{
    margin-left:7px;
    padding:10px;
    background-color: rgba(63, 128, 108, 0.13);

}
#blah{
    height:320px;
    width:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}
.img-up {
    margin-bottom: 10px;
}